:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    min-width: 320px;
    min-height: 100vh;
}

.list-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: auto;
    padding: 2rem;
}

div[data-item-type="list"] {
    transform: none;
    width: 250px;
    min-width: 250px;
    height: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    overflow: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-top-color: gray;
    border-bottom-color: gray;
    border-left-color: gray;
    border-right-color: gray;
}

div[data-item-type="card"] {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    text-align: center;
    cursor: grab;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
